/* ///////////////////////        M I N      ////////////////////////*/

@media only screen and (min-width: 768px){
	body.ind .swipe,
	body.ind div.shadow {display: none !important; left: -300px !important;}
	.indent-swipe  {margin-left: auto !important;}
	.top-search-cont {float: right; position: relative; font-size: 18px;}
	.container { width: 100%; }
/*	.block-cart-header .block-content {float: left; background:#fff; border:1px solid #d0d0d0; height: 32px; padding: 5px 38px 10px 14px; position: relative;}
	.block-cart-header:before{ display: none;}
	.block-cart-header h3:before {content:"\f07a"; float: left; padding: 0 10px 0 19px; font-size: 18px; line-height: 31px; color: #fff; height: 42px; border: none;}
	.block-cart-header .block-content:after{ content: '\f107'; position: absolute; right: 14px; top: 5px; font-size: 16px; color: #999;}
	.block-cart-header:hover .block-content{ background: #f9f9f9;}*/

  .btn-dior { left: 77%; bottom: 22%; }
  .btn-ray-ban { left: 77%; bottom: 15%; }
  .btn-miu-miu { left: 77%; bottom: 15%; }
  .btn-maui-jim { left: 78%; bottom: 22%; }

  	#nav { margin-bottom: 17px;}
  	.header-wrap { position: fixed; width: 100%; padding: 1em 1em 0; z-index: 999; background-color: #fff; }
  	.header { height: 60px; margin: 0; }
	.header-l { width: 30%; } 
	.header-c { width: 33.5%; }
	.header-c img { width: 100%; height: auto; padding: 0 .5em .5em; }
	.header-r { width: 36.5%; }
	.header-r-bottom { padding-top: 10px;}
	.header-cart { width: 26%; }
	.header-search { width: 70%; }
	.header li { font-size: .7em; }
	.mobile-toplinks-nav { display: none;}

	.header-gap { height: 115px; }
	
    .banners a img{ width: 90%;}

    .col-left { display: block; }
    .category-sort { display: none; }

    div.more-views  { float:left; width: 23%; margin-left: 0; margin-right: 4%; } 
    div.product-image { float: right; width: 73%; }
    div.more-views ul { padding-left: 0;  }
    .container-slider { padding-top: 0; }

    .container-slider > .tumbSlider-prev {
	left: 28px;
	top: 4px;
	}
	.container-slider > .tumbSlider-next {
	left: 28px;
	bottom: 4px;
	}

  
    .content-banner { position: relative; width: 80%; height: auto; margin-left: 10%; margin-right: 10%;	}
	.bannerwall-wrap { position: relative; width: 100%; padding-bottom: 66.666666667%; }
	.bannerwall { position: absolute; left:0; top:0; width: 100%; height: 100%;	}
	.bw-col-wrap { position: absolute; height: 100%;  width:100%;	top: 0; }
	.bw-cell { padding: 20px;}

	.bw-col {	position: relative; width: 100%; height: 100%; }
	
	.bw-hor { width: 66.666666667%; height: 50%; float: left; }
	.bw-bw-cubes { width: 66.666666667%; height: 50%; float: left; position: relative; }

	.bw-cube-1 { width: 50%; height: 100%; float: left; }
	.bw-cube-2 { width: 50%; height: 100%; float: left; }	

	.bw-vert { width: 33.333333333%; height: 100%; float: none; position: absolute; top: 0; right: 0; }

	.footer 						{ height: 52vw; }
	.footer-logo 					{ max-width: 23%; }
	.footer-social-block li i 		{ width: 1.5em; height: 1.5em; line-height: 1.5em; }
	.footer-social-block 			{ margin-top: 1.5em; }
	.footer-legal-block 			{ margin-top: 1em; }
	.footer-content .footer-folder { display: inline-block; width: auto; min-width: 133px; margin: 0 1em 0 0; }
	.footer-content .footer-folder:last-child { margin-right: 0; }
	.footer-content .footer-folder > div a { padding: 0 .5em; }
	.footer-content .footer-folder > div a:hover { color: #356799;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.order-buttons {display:none !important;}
	.nobr         { white-space:normal; }
	.sorter .view-mode {padding-top:0;}
	#search_mini_form {display: block !important; height: 100% !important; opacity: 1!important;}
	.form-search .search-autocomplete {display: none !important;}
	.account-login .registered-users .form-list input.input-text {width:326px;}
	.cart .crosssell button.btn-cart {float:none; margin-bottom:10px;}
	.cart .crosssell .add-to-links {float:none;}
	.cart .crosssell .product-details button.button > span {font-size:11px;}
	.cart .discount-form .input-box input { width:198px; }
	.form-list .input-box {width:225px;}
	.cart .shipping .form-list li select option {}
	.cart .totals button.button > span { font-size:14px; }
	.cart .totals table th,
	.cart .totals table td { font-size:11px; padding: 15px 10px; }
	.cart .totals table td+td { padding: 15px 10px; }
	.cart .totals .price { font-size:18px; }
	.mini-products-list .product-name {width:100%; margin:0; padding-top: 10px;}
	.block-compare .product-image {float: none; margin:0 auto 10px;}
	.block .block-title strong,
	.page-title h1, 
	.page-title h2 {font-size: 14px; word-wrap:break-word;}
	
	.products-grid li.item {}
	.regular-price,
	.products-grid li.item .minimal-price-link {float:none;}
	.products-grid li.item .price-box.map-info a {float:none; padding:0; margin-top:2px;}
	.products-grid li.item .regular-price,
	.products-grid li.item .old-price { display:block; }
	.products-grid li.item .ratings .rating-box { float:none; margin:0 auto 10px; }
	.products-grid li.item .ratings .amount { float:none; display:block; text-align:center; margin:0; }
	.product-shop .price-box {float:none;}
	.products-grid .product-image {padding:0px;}
	
	.product-view .product-img-box .more-views li.item-4 {margin-left:0;}	
	.product-view .product-img-box {margin: 0 auto 30px;}
	#cloud-zoom-big {width: 250px !important; height: 250px !important;}
	.product-view .product-shop {}
	.catalog-product-view .map-popup {left: 0 !important;}
	.addthis_default_main .addthis_counter {clear:inherit;}
	.block-layered-nav dd {padding-left:5px;}
	
	.my-account a {text-decoration:underline;}
	.my-account a:hover {text-decoration:none;}
	
	.opc .field {width:255px;}
	.opc .fields input,
	.opc .field input {width:238px;}
	.opc .fields select,
	.opc .field select {width:238px;}
	.opc .fields select option,
	.opc .field select option {width:217px;}
	.opc .form-list li.wide input.input-text {width:490px;}
	.opc .form-list li.wide .input-box {width: auto;}
	.opc .name-middlename {width:149px;}
	.opc .form-list .customer-name-suffix .name-lastname,
	.opc .form-list .customer-name-middlename .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-lastname {width:118px;}
	.opc .form-list .customer-name-prefix .name-firstname input.input-text,
	.opc .form-list .customer-name-suffix .name-lastname input.input-text,
	.opc .form-list .customer-name-middlename .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:93px;}
	.cart-collaterals .col2-set .col-1 {margin-right:15px;}
	.cart .totals button.button > span { font-size: 12px; }

	.cart .crosssell .product-image,
	.cart .crosssell .product-image img {width: 80px; height: 80px; overflow: hidden; }
	
	.box-up-sell {height:auto;}
	.box-up-sell h2 {font-size:12px;line-height:15px;}
	.box-up-sell ul li .product-box { padding:8px;}
	.box-up-sell ul li {margin: 0 8px;}
	
	#multiship-addresses-table select {width:200px;}
	#multiship-addresses-table select option {width:170px;}
	#checkout-step-login .col2-set .col-1 {margin-bottom:10px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {	float:none;	margin-right:0;	width:96%;}
	#multishipping-billing-form .sp-methods .form-list input.input-text {width:100%;}
	#co-billing-form > fieldset {display: table-column;}
	.checkout-progress li {clear: left; width: 100%;}
	.box-collateral.form-add .box-collateral-content {overflow: auto;}
	.form-list select {width: 340px;}
	.search-form  .form-list select {width: 300px;}

	.multiple-checkout .form-list li.wide .input-box {width: 100%;}
	.multiple-checkout .gift-messages-form .item .details .field {width:100%;}
	.multiple-checkout .gift-messages-form .form-list input.input-text {width:100%;}
	.multiple-checkout .gift-messages-form .inner-box .form-list li.wide textarea {width:100%;}
	
	.cms-about-magento-demo-store .about-col-1,
	.cms-about-magento-demo-store .about-col-2,
	.cms-about-magento-demo-store .about-col-3 { padding:214px 15px 15px;}
	.cms-about-magento-demo-store .about-col-4 ul,
	.cms-about-magento-demo-store .about-col-5 ul,
	.cms-about-magento-demo-store .about-col-6 ul {padding:25px 0 12px 20px;}
	
	.block-poll .answer {width:95px;}
	
	.footer-container {padding: 20px 0;}
	.footer-cols-wrapper { position:relative;  }
	.footer .footer-col.last { margin-right:0; }
	.footer .footer-col.footer-col-ex {width: 22%;}
	.footer .footer-col.footer-col-ex.facebook-fanbox {width: 235px;}
	.footer h4{ font-size: 15px;}
	.footer .contacts{ font-size: 12px; line-height: 16px;}
	.footer .contacts .phone{ font-size: 16px;}
	
	.my-account #wishlist-view-form #wishlist-table .product-image img {height:100px;width:100px;}
	.my-account .data-table th, .my-account .data-table td {padding: 5px;}
	#wishlist-view-form .buttons-set.buttons-set2 {text-align:center;}
	#wishlist-view-form .buttons-set.buttons-set2 button.button {float:none;margin: 0 10px 10px 0 !important;}
	#customer-reviews button.button {float:left;}
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 5px;}
	.box-up-sell .up-sell-carousel-none li {width: 150px;}

	.slider-banner-container .banner1{ margin-bottom: 11px; line-height: 14px;}
	.slider-banner-container .banner1 a{ padding:5px; font-size: 12px; }
	.slider-banner-container .banner1 a .inner{ padding:7px 5px 8px;}
	.slider-banner-container .banner1 a h6{ font-size: 24px; line-height: 30px; margin: 0;}

	.banners{ margin-bottom: 20px;}
	.banners a{ font-size: 12px; line-height: 14px; }
	.banners a .inner{  bottom: 8px; padding: 0 10px;}
	.banners a h6{ font-size: 16px; margin-bottom:5px;}

	.brands{ margin-bottom: 10px;}
}

@media only screen and (min-width:908px) {
	#nav .child { padding: 0 6em; }
	.footer { height: 50vw; }
	.footer-logo { max-width: 20%; }
	div.more-views  { float:left; width: 17%; margin-left: 4%; margin-right: 4%; } 
    div.product-image { float: right; width: 75%; }
}

@media only screen and (min-width: 925px) {
	.header-l { width: 33.33333333%; }
	.header-c { width: 33.33333333%; }
	.header-c img { width: auto; height: 100%; }
	.header-r { width: 33.33333333%; }
	.header-cart { width: 23%; }
	.header-search { width: 73%; }
	.header li { font-size: .8em; }  
}

@media only screen and (min-width:970px) {
	#nav .child { padding: 0 9em; } 
}

@media only screen and (min-width: 992px) {  
	.ez-container{ width: 970px; }
 	.list-left {float: left; width: 61%;}
	.list-right {
		float: right; 
		border-left: 1px solid #d1d0d0;
		padding-left: 20px; 
		padding-right: 4px;
		padding-bottom: 250px;
		margin-bottom: -250px;
		width: 35%;
	}	
	.products-list .rating-links {font-size: 11px;}
	.products-list .rating-links .separator {
		display: block; 
		font-size: 0; 
		width: 100%;
		border-top: 1px solid #ECECEC;
		height: 0;
		margin: 2px 0 3px;
	}
  .btn-dior { left: 77%; bottom: 22%; }
  .btn-ray-ban { left: 79%; bottom: 19%; }
  .btn-miu-miu { left: 79%; bottom: 19%; }
  .btn-maui-jim { left: 75%; bottom: 22%; }
 }

@media only screen and (min-width: 1050px) { 
	#nav .child { padding: 0 10em; }
	.footer { height: 44vw; }
	.footer-social-block li i { width: 2em; height: 2em; line-height: 2em; }
}

@media only screen and (min-width: 1200px) {
	#nav .child5 { padding-right: 17% !important; } 
	.ez-container{ width: 1170px; }
	.header li { font-size: .9em;  padding-right: 1em; }
	#nav .child { padding: 0 18em; }
	.footer { height: 47vw; }
}

@media only screen and (min-width: 1300px) {  
  .header-c img { padding: 1em 0 0; }

  .btn-dior { left: 35%; bottom: 25%; }
  .btn-ray-ban { left: 33%; bottom: 24%; }
  .btn-miu-miu { left: 33%; bottom: 24%; }
  .btn-maui-jim { left: 32%; bottom: 25%; }
  
  .camera_link_btn { padding: .7em 1.4em !important;  border-radius: 1px;   font-size: 14px !important; }

  .slider-banner-container{ margin-top: 2.6em; }
  .banners{ margin-top: 3em; margin-bottom: 4em;}
  
  .camera_prev, .camera_next {	width: 10%; }
  .camera_prev .camera_span_wrap > span {  left: 40%; }
  .camera_next .camera_span_wrap > span {  left: 35%; }

  #nav .child-col { font-size: 13px; }
  #nav .child { padding: 0 19em; }
  #nav .child5 > li:first-child { margin-right: 7em; }
  #nav .minibanner-wrap { padding: 1em; max-width: 258px; }

  .footer { width: 90%; height: 40vw; margin-left: 5%; margin-right: 5%; margin-top: 4em; }
  .footer-logo { max-width: 16%; }
  .footer-content .footer-header { margin-bottom: 1.5em; }
  .footer-content .footer-folder { display: inline-block; width: auto; min-width: 150px; margin: 0 3em 0 0; }
  .footer-social-block { margin-top: 2em; }
}

@media only screen and (min-width: 1430px) { 
    #nav .child { padding: 0 27em; }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.page{ max-width: none; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.page{ max-width: 1000px;}
	.product-view .product-shop {width:50%;}
	.product-view .addthis_button_tweet {width:95px;}
	.addthis_default_main .addthis_counter {clear:left;}
	.addthis_mini_style .addthis_counter {clear:inherit;}
	.mini-products-list .product-image {width:70px;}
	.mini-products-list .product-name {width:130px; margin-left: 0;}
	.block-related .product-name {width:120px;}
	.block-poll .answer {width: 150px;}
	.de-lang-class .row-product .email-friend,
	.es-lang-class .row-product .email-friend {float: left; clear: left;}
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 10px;}
	.box-up-sell .up-sell-carousel-none li {width: 200px;}
	.ps-phone .form-search .search-autocomplete {display: none !important;}

	.slider-banner-container .banner1{ margin-bottom: 28px;}
	.slider-banner-container .banner1 a{ padding:10px; font-size: 12px; }
	.slider-banner-container .banner1 a .inner{ padding:7px 10px 8px;}
	.slider-banner-container .banner1 a h6{ font-size: 40px; line-height: 40px; margin: 0;}

	.banners{ margin-bottom: 20px;}
	.banners a{ font-size: 12px; }
	.banners a .inner{  bottom: 17px;}
	.banners a h6{ font-size: 18px; margin-bottom:10px;}

	.sf-menu-block {  display: none !important;}
    .sf-menu-phone {display: block !important; position: relative;}
    .sidebar .block:first-child .menu-icon-style {}
}

/* ///////////////////       M A X        ///////////////// */

@media only screen and (max-width: 1400px) {#back-top {display: none !important;} }

@media only screen and (max-width:991px) {
	.sidebar .nav-container { display: none; }
	.sf-menu-phone{display: none; }
/*	.nav-container{ padding-bottom: 20px; }*/
	.menu-icon-style {font-size: 28px; }
	.sf-menu-phone{ border: 1px solid #ededed; }
	.sf-menu-phone > li > a {padding: 11px 15px; }
}

@media only screen and (max-width:907px) {
	#nav .child { padding: 0 3em; }	
}

@media only screen and (max-width:830px) {
	#nav .child { padding: 0 1em; }
}

@media only screen and (max-width:776px) {
	#nav .child { padding: 0; }
}

@media only screen and (max-width: 767px) {
	body {padding: 50px 0 0; }
	 body.ind.ps-phone { overflow: scroll; position: fixed; width: 100%;} 
	body.ind.ps-static { overflow: hidden; }
	.col1-layout .col-main,
	.col2-left-layout .col-main,
	.col2-right-layout .col-main  {float:none; }

	.container {margin:0; }
	.page > div > .container {padding: 0;}
	.page { overflow: hidden; position: relative;}
	.ez-container, 
	.header-wrap { height: 0; }
	.main-container {padding: 15px 0;}
	.header {  margin: 0; height:0;} /* padding:10px; */
	.header-r { padding:0; }
	.header .top-search,
	.header .welcome-msg,
	.header-l,
	.header-r-bottom {display: none;}
	.header-c {
		position: fixed;
	    left: 50%;
	    top: 0;
	    height: 50px;
	    background: none;
	    border: 0;
	    z-index: 999;
	    min-width: 60px;
	    cursor: pointer;
	}
	.header-c a,
	.header-c img { position:relative; height: 100%; }

	div.more-views,  
    div.product-image { clear:both; margin: 0; width: 100%; }

    .container-slider > .tumbSlider-prev {
	left: -4px;
	top: 35px;
	}
	.container-slider > .tumbSlider-next {
	right: 5px;
	top: 35px;
	}

	.header .header-row-bg {padding: 20px 10px;}
	.padding-s {/*padding:0 10px;*/ }
	.order-buttons {display:none !important;}
	.title-buttons h1,
	.title-buttons h2,
	.title-buttons h3,
	.title-buttons h4,
	.title-buttons h5,
	.title-buttons h6 {float:none;}
	.nobr         { white-space:normal; }
	.top-icon-menu {display: block;}
	#search_mini_form {width:100%; position: fixed; left: 0; top: 51px; display: none;  border: none; padding: 0 20px; z-index: 9;}
	.header .form-search {background: #FBFBFB; padding: 6px 60px 6px 6px; border: solid 1px #e0e0e0; position: relative;}
	.header .form-search button.button {width:45px;  position: absolute; right: 6px; } 
	.header .form-search button.button span { padding:0; height: 40px; line-height: 40px; float:none;  display:block; text-align:center;}
	.header .form-search button.button i {display:none;}
	.header .form-search .input-text { 
		width:100%; 
		margin:0; 
		moz-box-sizing:border-box;
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		 box-sizing: border-box;
		 float: none;
		 height: 40px;
	}
    .slider-banner-container{ margin-top: 17px; margin-bottom: 28px;}
    .header-small-container,
    .header-left,
    .header-right,
    .nav-container {  display:none;  }
    
    .header-main-container .header-center { position: relative; width: 100%; }
    .email-list-background img{ width: 100%; margin-top: -25px; opacity:.8;}
  
    .header .header-center{  float:none; margin: auto; }
    .mobile-toplinks-nav{  display:block; width: 100%; height: auto; margin: .3em auto; text-align: center; clear:both;}  
    .mobile-toplinks-nav .links{ float: none; position: relative; }
    .mobile-toplinks-nav .links li { display: inline-block; padding: 6px 20px;}
    .mobile-toplinks-nav .links .first { padding-left: 0; }
  
	.form-search .search-autocomplete {display: none !important;}
	.block-cart-header { position: fixed; top: 0; height: 50px; padding: 10px; background: none; border: 0; z-index: 1000; min-width: 60px; cursor: pointer; }
	.block-cart-header .block-content { height: 30px; }
	.block-cart-header .block-content > i { line-height: 30px; color: #323232;}
	.block-cart-header .block-content > i:last-child { display:none; }
	.block-cart-header:before {font-size: 30px; color: #fff;}
	.block-cart-header .mini-cart {display: inline-block; float:right; font-size: 22px; line-height:30px; color: #323232;}
	.block-cart-header .cart-content {right: -30px; top: 51px;}
	.block-cart-header h3,
	.block-cart-header .empty > div,
	.block-cart-header .summary,
	.quick-access,
	.header-buttons {display: none;}
	.block-cart-header:hover .block-content > i,
	.block-cart-header:hover .block-content > p { color: #356799;}
	.toolbar { margin-bottom:20px; }
	.toolbar .pager {padding: 0 18px 18px 0;}
	.toolbar .pager .amount {padding:0;}
	.toolbar .pager .pages { margin:0; padding-top:10px; }
	.pager .pages li { font-size:14px; line-height:17px; font-weight:normal; margin-right:10px; }
	.toolbar-bottom .toolbar .pager {border:0; padding:0; }
	.toolbar-bottom .toolbar .pages {border:0;  padding-bottom:0; margin-top:10px; overflow:hidden; border-top:1px solid #E5E5E5; float:left; width:100%;} 

	.col-left { display: none; }
	.category-sort { display: block; }

	.indent-sw1 {margin-bottom:20px;}
	.checkout-multishipping-login .col-main {padding-bottom:0;}
	.account-login .registered-users .form-list input.input-text {width:252px;}
	.form-list select {width:300px;}
	.form-list input.input-text,
	.form-list li.wide input.input-text {width:294px;}
	.form-list .name-middlename {width:117px;}
	.form-list .customer-name-prefix .name-firstname input.input-text, 
	.form-list .customer-name-suffix .name-lastname input.input-text, 
	.form-list .customer-name-middlename .name-firstname input.input-text, 
	.form-list .customer-name-middlename-suffix .name-firstname input.input-text, 
	.form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:99%;}
	.form-list .customer-name-suffix .name-lastname, 
	.form-list .customer-name-middlename .name-firstname, 
	.form-list .customer-name-middlename-suffix .name-firstname, 
	.form-list .customer-name-middlename-suffix .name-lastname {width:100%;}
	.form-list .name-middlename input.input-text {width:99%;}
	.form-list .customer-dob .dob-year input.input-text {width:146px;}
	#checkout-payment-method-load input.input-text {width: 100%;}
	#shopping-cart-table { display:block; width:100%;}
	#checkout-step-login .col-2 .form-list input.input-text {width:253px;}
	.multiple-checkout .page-title.title-buttons h1 {margin-bottom: 10px;}
	
	.page-title,
	.category-title { margin-bottom:16px; }
	.pager .pages {clear:both;margin:0;text-align:center; padding-top:10px;}
	
	.products-grid {margin-bottom:0 !important;}
	.products-grid li.item { overflow:hidden; text-align: left; position:relative; margin:0 0 20px; width:100%; }
	.products-grid .product-image,
	.products-list .product-image { float:left; margin:0 10px 0 0; width:110px; overflow: hidden; }
	.products-grid .product-shop,
	.products-list .product-shop { overflow:hidden;}
	.products-list .ratings .rating-links a+span+a,
	.products-list .ratings .rating-links .separator {display:none;}
	.products-grid .ratings .rating-box {margin: 0 0 5px 0;}
	.note-msg-empty-catalog {padding:  150px 0 0; background-position: center top; text-align: center;}
	.label-product {right: 71px;}
	.label-product.label-indent {left: 75px;}

	.product-view { margin-bottom:5px; }
	.product-view .product-shop { float:none; width:100%; }
	.product-view .product-img-box { float:none;   margin:0 auto 20px; }
	.product-view .product-name h1 { font-size:16px; line-height:19px; }
	.product-view h2 {padding:17px 15px;}
	.product-view .product-shop .price-box { float:none; display:block; margin: 0 0 10px; overflow:hidden; }
	.add-to-cart button.button {float:none; margin-left:25px;}
	.add-to-cart {padding-top: 15px;}
	.add-to-cart .qty-block {padding-top:0; margin:0 0 5px;}
	.product-view .product-shop .add-to-links {border-bottom:none;padding-bottom:0;}
	.product-view .product-shop .add-to-links li {float:none; font-size:14px; line-height:17px; font-weight:normal; margin:0 !important; padding-bottom:19px;}
	.product-view .row-product {padding-top:0;}
	.product-view .row-product p {float:none !important;font-size:14px;line-height:17px;}
	.product-view .row-product .no-rating {padding-bottom:19px;}
	.product-view .row-product .ratings {float:none;padding-bottom:19px;}
	.product-view .row-product .ratings .rating-links {padding-left:0 !important;}
	.product-view .add-to-links li+li {display:none;}
	.product-options .options-list li label { padding-top:2px; }	
	.product-view .box-description .std {padding: 0 15px;}
	.product-view .product-collateral #customer-reviews dl {padding:0 15px;}
	.product-view #review-form h3,
	.product-view #review-form h4,
	.product-view .tabs-custom {padding:0 15px;}
	.container-slider {margin:0 auto;}
	.addthis_default_main .addthis_counter {clear:inherit;}
	.product-view .product-options-bottom {margin-bottom: 20px;}

	.block-slider-sidebar {display: none !important;}
	
	.product-collateral #customer-reviews #product-review-table span.nobr {padding:0;}
	#review-form #product-review-table th {padding:9px 4px; }
	#review-form #product-review-table td {padding:14px 4px; text-align:center;}

	
	.product-collateral .box-collateral {margin-bottom:0;}
	.product-collateral .box-collateral h2 {cursor:pointer;}
	.product-collateral .box-collateral h2 span.toggle {top:20px;}
	.box-collateral-content {display:none;margin-bottom:7px;}
	
	.box-up-sell .up-sell-carousel-none  li .product-image {float:left; margin-right:15px; width:100px;}
	.box-up-sell {background:none;border:none;padding:20px 0 0;}
	.box-up-sell .up-sell-carousel-none li {float:none;background:none; width: auto; margin: 0 0 15px; text-align: left;  }
	.box-up-sell .up-sell-carousel-none li .product-box {padding: 10px; overflow: hidden;}
	.box-up-sell .up-sell-carousel-none li .rating-box {margin: 0 0 5px;}
	.box-up-sell ul li .product-box {padding: 5px;}
	.carousel-prev, .carousel-next {right: 10px;}
	.carousel-prev {right: 40px;}
	
	.col-main {padding-bottom:20px;}
	.block {margin-bottom:8px; padding:10px;}
	.block .block-title	{margin-bottom:8px; padding-bottom:8px;	padding-right:40px;	}
	.block .block-title:hover {cursor:pointer;}
	.block.block-account .block-title:hover {cursor:default;}
	.block .block-title	span.toggle {top:3px;}
	.sidebar .block.block-progress .block-content {display:block;}
	.mini-products-list .product-name {width:210px;}

	.product-view .product-shop {float: none; width: 100%;} 

	/*====================================== cart table	========================================*/
	.cart .data-table,
	.cms-template-settings .data-table {position: relative; padding-bottom: 90px;}
 	.cart .data-table thead,
 	.cart .data-table colgroup,
 	.cms-template-settings .data-table thead,
 	.cms-template-settings .data-table colgroup {display: none; }
 	.cart .data-table tfoot,
 	.cms-template-settings .data-table tfoot {width: 100%; display: block;}
 	.cart .data-table td,
 	.cart .data-table tr,
 	.cart .data-table tbody,
 	.cms-template-settings .data-table td,
 	.cms-template-settings .data-table tr,
 	.cms-template-settings .data-table tbody {display: block; text-align: center !important;}
 	.cart .data-table td,
 	.cms-template-settings .data-table td {margin: 0 10px; border: 0; border-bottom: 1px solid #ddd;}
 	.cart .data-table td.last,
 	.cms-template-settings .data-table td:last-child  {border: 0;}
 	.cart .data-table tr,
 	.cms-template-settings .data-table tr {margin: 4px 0 25px; border: 1px solid #e9e9e9; }
 	.cart .data-table tfoot {position: absolute; bottom: 0; left: 0;}
 	.cart .data-table tfoot button.button {margin: 3px 0;}

	/*====================================== end ===============================================*/

	.block-related .product-name {width:185px;}
	.cart .cart-table-foot {text-align:center;}
	.cart .cart-table-foot .btn-continue {float:none;}
	.cart .cart-table-foot button.button {margin-bottom:5px;} 
	.cart .crosssell .add-to-links { float:none; display:block; padding-top:10px; }
	.cart .crosssell .add-to-links li {margin:0;}
	.cart .crosssell button.btn-cart {float:none;}
	.cart-collaterals .col2-set .col-1,
	.cart-collaterals .col2-set .col-2,
	.cart .cart-collaterals .col2-set,
	.cart .totals {width:100%; clear:both;}
	.cart-collaterals .col2-set .col-1,
	.cart-collaterals .col2-set .col-2 {margin: 0 0 25px;}
	.cart .discount, .cart .shipping {width: 100%;}
	
	.col-main .block-account {display:block;}
	.padding-s .block {padding:0;}
	.block-account ul li {font-size:14px;line-height:17px;}
	.block-account ul li a,
	.my-account a {text-decoration:underline;}
	.block-account ul li a:hover,
	.my-account a:hover	{text-decoration:none;}
	.my-account .col2-set .col-1,
	.my-account .col2-set .col-2 {float:none;width:100%;}
	.my-account .data-table {border:1px solid #ECECEC;width:100%;}
	.my-account .data-table th, .my-account .data-table td {padding:10px 4px;}
	.my-account .data-table tr {display:block;border-bottom:1px solid #ECECEC;}
	.my-account .data-table tr.last {border-bottom:none;}
	.my-account .data-table td {display:block;border:none;}
	.my-account .data-table colgroup {display:none;}
	.my-account #my-orders-table td {padding:10px 10px 0 10px;}
	.my-account #my-orders-table td.order-qty {font-weight:bold;}
	.my-account #my-orders-table td.order-qty .nobr strong {font-weight:normal;}
	.my-account #my-orders-table td.order-product-name .product-name {font-weight:bold;}
	.my-account #my-orders-table td.order-subtotal.last { text-align:left; }
	.my-account #my-orders-table td.last { padding-bottom:10px;  text-align:left; }
	.my-account #my-orders-table tfoot {border-top: 1px solid #ECECEC;}
	.my-account #my-orders-table tfoot td {display:inline-block;padding:10px;width:120px;}
	.my-account #my-orders-table tfoot td+td {text-align:left !important;}
	.my-account #my-orders-table tfoot .grand_total {font-size:14px;line-height:17px;}
	.my-account .page-title button.button {margin-top:10px;}
	
	.my-account textarea {max-width:294px;min-width:294px;}
	.my-account #wishlist-view-form .buttons-set {text-align:center;}
	.my-account #wishlist-view-form .buttons-set button.button {float:none;margin: 0 0 3px;}
	.my-account #wishlist-table .cart-cell .price-box span.old-price {display:block;}
	.my-account #wishlist-table .product-image {margin-left:42px;}
	#wishlist-view-form #wishlist-table .product-image img {height:200px;width:200px;}
	
	.my-account #my-tags-table td .price-box {overflow:hidden;}
	.my-account #my-tags-table td button.button {float:left;margin-right:10px;}
	.my-account #my-tags-table .add-to-links {float:right;margin-top:5px;}
	#checkout-review-table-wrapper {overflow-x:auto;}
	
	.product-review .product-img-box {float:none;overflow:hidden;margin:0 0 20px;width:310px;}
	.product-review .product-img-box .product-image {float:left; margin: 0 10px 0 0;height:100px;width:100px;}
	.product-review .product-img-box .product-image img {height:100px;width:100px;}

	.product-review .product-img-box .product-review-block {overflow:hidden;padding-top:20px;}
	.product-review .product-img-box .product-review-block .rating-links {text-align:center;}
	.product-view .add-to-cart .qty-block {}
	
	.form-list .field,
	.opc .field,
	.form-list .input-box,
	.form-list li.wide .input-box,
	.form-list select,
	.opc .form-list li.wide input.input-text,
	.form-list input.input-text,
	.form-list li.wide input.input-text,
	.opc .fields select, .opc .field select {width:100%;}
	.opc .form-list .customer-name-suffix .name-lastname,
	.opc .form-list .customer-name-middlename .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-firstname,
	.opc .form-list .customer-name-middlename-suffix .name-lastname, 
	.opc .form-list .customer-name-prefix .name-firstname input.input-text,
	.opc .form-list .customer-name-suffix .name-lastname input.input-text,
	.opc .form-list .customer-name-middlename .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
	.opc .form-list .customer-name-middlename-suffix .name-lastname input.input-text {width:100%;}
	.opc .name-middlename input  {width:100% !important;}
	.checkout-multishipping-address-newshipping .form-list li.wide input.input-text {width:265px;}
	.checkout-multishipping-address-newshipping .form-list select {width:265px;}
	.multiple-checkout .col-1.col-narrow,
	.multiple-checkout .col-2.col-wide {float:none;width:100%;}
	.multiple-checkout .col-2.col-wide .box {margin-left:0;}
	.checkout-progress li {clear:left; width:100%;}
	#checkout-step-login .col2-set .col-1 {margin-bottom:10px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {	float:none;	margin-right:0;	width:268px;}
	#co-billing-form > fieldset {border:0; padding:0;}
	#payment-tool-tip {right:0;}
	#payment-tool-tip img {width:268px;}

    .opc #checkout-review-table td {padding:7px;}
	.opc #checkout-review-table tfoot td {padding:7px;}
	#checkout-progress-wrapper {display:none;}
	#multiship-addresses-table.data-table td {padding:5px;}
	#multiship-addresses-table select {width:80px;}
	
	.gift-messages-form .inner-box .form-list li.wide textarea {width:99%; max-width: inherit;}
	.gift-messages-form .item .product-img-box {float:none;margin-bottom:10px;}
	.gift-messages-form .item .details {margin:0;}
	#checkout-step-login .col2-set {padding:10px;}
	
	#product_sendtofriend_form .form-list .fields .field input.input-text,
	#product_sendtofriend_form #sender_message {width:304px;}
	
	.advanced-search .form-list select {width:100%;}
	.advanced-search + .buttons-set {max-width: 100%;}
	
	.title-buttons {text-align:left;}
	.account-login .registered-users-wrapper,
	.account-login .new-users-wrapper {width:100%; clear:both;}
	#contactForm .form-list input.input-text,
	#contactForm .form-list li.wide .input-box {width:100%;}
	.sales-guest-form .form-alt li .input-box,
	.sales-guest-form .form-alt input.input-text {width:100% !important;}

	.cms-privacy-policy-cookie-restriction-mode .data-table thead {display:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table {border:1px solid #ECECEC;width:100%;}
	.cms-privacy-policy-cookie-restriction-mode .data-table tr {display:block;border-bottom:1px solid #ECECEC;}
	.cms-privacy-policy-cookie-restriction-mode .data-table tr.last {border-bottom:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table td,
	.cms-privacy-policy-cookie-restriction-mode .data-table th {display:block;border:none;}
	.cms-privacy-policy-cookie-restriction-mode .data-table th {padding: 10px 10px 5px;}
	.cms-privacy-policy-cookie-restriction-mode .data-table td {padding: 5px 10px 10px;}
	
	.cms-about-magento-demo-store .about-col-1,
	.cms-about-magento-demo-store .about-col-2,
	.cms-about-magento-demo-store .about-col-3,
	.cms-about-magento-demo-store .about-col-4,
	.cms-about-magento-demo-store .about-col-5,
	.cms-about-magento-demo-store .about-col-6 {margin: 0 0 40px; width:100%;}
	.about-padd,
	.about-padd2 {padding-bottom:0;}
	.page-sitemap .pager .amount {display:block; }
	.page-sitemap .sitemap {padding: 0;}

	.sidebar .block .block-content,
	.block-compared,
	.block-compare,
	.products-grid .actions	li+li,
	.products-list .add-to-links li+li,
	.products-grid .add-to-links,
	.products-list .add-to-links,
	.block-wishlist,
	.breadcrumbs,
	.toolbar .sorter,
	.cart .crosssell .add-to-links li+li,
	.my-account .data-table thead,
	.opc #checkout-review-table thead,
	.opc #checkout-review-table colgroup,
	.opc #checkout-review-table .item-options,
	.footer .footer-col-content {display:none;}

	.footer {padding:0 10px;}
	.footer-cols-wrapper {border:0; margin-bottom: 0; padding-bottom: 0px;}
	.footer .footer-col { margin-right:0; width:100%; }
	.footer .footer-col.last{ width: 100%;}
	.footer .footer-col-content {margin-bottom:12px;}
	.footer .paypal-logo {float: left; clear: left; margin: 10px 0;}
	.footer address { border-top:none; }
	.footer h4 {border-bottom: 1px solid #ddd; padding:0 30px 8px 0;}
	.footer h4:hover {cursor:pointer;}
	.footer-container-bottom .paypal-logo { float: left; clear: left; margin: 10px 0;}
	.footer .facebook-fanbox {text-align: center;}
	.footer .store-switcher {float: left; clear: left;}

	
	.map-popup {left:0 !important; width:320px;}
	
	.contact-left,
	#contactForm {float:none;margin:0;width:100%;}
	#contactForm .form-list .field {float:none;width:100%;}
	
	.form-alt li.last .input-box {width:auto !important;}
	.header .logo{ margin-top: 0;}


	.slider-banner-container .banner1{ margin-bottom: 18px; line-height: 14px;}
	.slider-banner-container .banner1 a{ padding:2px;  font-size: 12px; }
	.slider-banner-container .banner1 a .inner{ padding:7px 5px 8px;}
	.slider-banner-container .banner1 a span{ line-height: 12px;}
	.slider-banner-container .banner1 a h6{ font-size: 26px; line-height: 30px; margin: 0;}

	.banners{ margin-bottom: 0px; padding-right: 15px; padding-left: 15px;}
	.banners a{ font-size: 12px; border-bottom: 1px solid #e5e5e5; }
	.banners a img{ width: 80%;}
	.banners a .inner{  bottom: 7px;}
	.banners a h6{ font-size: 16px; margin-bottom:4px;}
	.banner-nav-btn > a { background-color: #f9f9f9; }
	.banner-nav-btn,
	.banner-nav-wrap	{ padding-right: 0; padding-left: 0;	display: block; } 
	.banner-nav-wrap-right { display: none; }
	.banner-nav-active > a {	border-bottom: 1px solid #ffffff !important; background-color: #ffffff !important;}
	.banner-nav{	position: relative; height: 180px;	border: 1px solid #e5e5e5;	border-top: none;	}
	.banner-nav .row {	height: 100%; }
	.banner-nav .row > div { display: table;	height: 100%; padding: 5%;}
	.banner-nav .row > div a  { display: table-cell; vertical-align: middle; font-size: 1.2em; color: #515151;}
	.banner-nav-link	{	height: 100%; width: 100%; 	}

	.brands a{ width: 24%; margin-right: 1%; margin-bottom: 10px;  text-align: center;  }

    .mobile-shopby{  display: block; }
    .mobile-shopby-images::scrollbar { display: none; }
    .mobile-shopby-img{
      display:inline-block;
      border-radius: 5px;
      padding: 10px;
      max-width: 230px;
      border: 1px solid #fff;
    }
  .desktop-banners{ display: none; }
  .mobile-banners{ display: block; }
  
  .btn-dior { left: 15%; bottom: 15%; }
  .btn-ray-ban { left: 25%; top: 10%; }
  .btn-miu-miu { left: 10%; bottom: 15%; }
  .btn-maui-jim { left: 10%; bottom: 20%; }
  .btn-costa-del-mar { left: 30%; bottom: 20%; }
  .btn-oakley { left: 30%; bottom: 20%; }
  
  
  .content-banner {position: relative; width: 90%; margin-left: 5%; }
	.bannerwall-wrap { position: relative; width: 100%; padding-bottom: 150%;}
	.bannerwall {	position: absolute; left: 0; top: 0; width: 100%; height: 100%;	}
	.bw-col-wrap { position: relative; width: 100%; height: 150vw; left:0; top: 0; }
	
	.bw-col { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
	.bw-cell { position: relative; padding: 10px; }

	.bw-hor { width: 100%; height: 33.333333333%; float: none; clear:both; }
	.bw-bw-cubes { width: 50%; height: 66.666666667%; float: left; position: relative; }

	.bw-cube-1 { width: 100%; height: 50%; float: none; }
	.bw-cube-2 { width: 100%; height: 50%; float: none; }	
	.bw-vert { width: 50%; height: 66.666666667%; float: left;  position: relative; }

	.sf-menu-block {margin: 0 10px;}
    .nav-container{ padding-bottom: 30px;}
    .swipe-menu .child-col { width: 33.33333333%; }
    .swipe-menu .child3 > li, .swipe-menu .child4 > li { width: 20%; padding: 0.5em; }
    .header-c img { margin-left: -50%; padding: 2px; }
    .top-icon-menu i { font-size: 25px; }
    .block-cart-header { right: 50px; }
    .block-cart-header .block-content > i { font-size: 30px; }

    .footer-logo { max-width: 20%; }
	.footer { height: 57vw; }
	.footer-content .footer-folder { display: block; width: 50%; margin: .5em auto; }
	.footer-legal-block { margin: 0; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.account-login .registered-users .form-list input.input-text {width:372px;}
	.form-list .name-middlename {width:100%;}
	.form-list .customer-dob .dob-year input.input-text {width:213px;}
	.products-grid .product-image,
	.products-list .product-image {width:210px; }
	.minimal-price-link .label {padding-left: 0;}
	.map-popup {left:50px !important;}
	.mini-products-list .product-name {width:315px;}
	.checkout-multishipping-address-newshipping .form-list li.wide input.input-text {width:390px;}
	.checkout-multishipping-address-newshipping .form-list select {width:390px;}
	#checkout-step-login .col2-set .col-1,
	#checkout-step-login .col2-set .col-2 {width:398px;}
	#checkout-step-login .col-2 .form-list .input-box {width:398px;}
	#checkout-step-login .col-2 .form-list input.input-text {width:392px;}
	#payment-tool-tip img {width:400px;}
	#co-billing-form > fieldset {border:1px solid #E5E5E5; padding:10px;}
	#multiship-addresses-table select {width:150px;}
}

@media only screen and (max-width: 753px) {
	.footer	{ height: 61vw; }
	.footer-logo { max-width: 25%; }
}

@media only screen and (max-width: 690px) {
	.slider-banner-container .banner1{ margin-bottom: 28px; line-height: 14px;}
	.slider-banner-container .banner1 a{ padding:2px;  font-size: 12px; }
	.slider-banner-container .banner1 a .inner{ padding:7px 5px 8px;}
	.slider-banner-container .banner1 a span{ display: none;}
	.slider-banner-container .banner1 a h6{ font-size: 24px; line-height: 30px; margin: 0;}
	.banners a .inner{  bottom: 7px;}
	.banners a h6{ font-size: 16px; margin-bottom:4px;}
    .mobile-toplinks-nav .links li {  padding: 6px 14px;}
    .mobile-toplinks-nav .links .first { padding-left: 0; }
	.footer { height: 64vw; }
}

@media only screen and (max-width: 660px) {
	.footer-logo { max-width: 30%; }
}

@media only screen and (max-width: 645px) {
	.footer { height: 67vw; }
}

@media only screen and (max-width: 623px) {
	.footer-social-block { margin-top: 2em; }
}

@media only screen and (max-width: 600px) {
	.cart .data-table {padding-bottom: 200px;}
	.cart .data-table tfoot button.button {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.cart .data-table tfoot button.button span { display: inline-block; float: none; width: 100%; }
	.product-container{ }
	.banners a .inner{  bottom: 7px;}
	.banners a h6{ font-size: 16px; margin-bottom:4px;}
    .banner-nav{ height: 140px;}

    .top-icon-menu i { font-size: 20px; }
    .block-cart-header { right: 40px; }
    .block-cart-header .block-content > i { font-size: 27px; }
}

@media only screen and (max-width: 580px) {
	.footer	{ height: 74vw; }
	.footer-logo { max-width: 33%; }
}

@media only screen and (max-width: 570px) {
	.slider-banner-container .banner1{ margin-bottom: 24px;}
	.slider-banner-container .banner1 a h6{ font-size: 12px; line-height: 22px; }

	.swipe-menu .child3 > li, .swipe-menu .child4 > li { width: 25%; padding: 0.9em; }
}

@media only screen and (max-width: 530px) {
	.swipe-menu .child3 > li, .swipe-menu .child4 > li { width: 25%; padding: 0.6em; }
	.swipe-menu .child-col { width: 50%;}
}

@media only screen and (max-width: 513px) {
	.footer	{ height: 80vw; }
	.footer-logo { max-width: 40%; }
	.footer-social-block { margin-top: 3em; }
}

@media only screen and (max-width: 460px) {
	.data-table th,
	.data-table td  {padding: 10px 5px;}
	.multiple-checkout .page-title h1 {margin-bottom: 5px;}
	.multiple-checkout,
	.product-view .box-collateral-content,
	#review-form {overflow: auto; padding-bottom: 20px; -webkit-overflow-scrolling: touch;}
	.page-sitemap .links {margin: 0;}
	.cart .totals button.button > span { font-size: 12px; }
	.box-up-sell .caroufredsel_wrapper { min-height: 320px;}
	.block-cart-header .cart-content {left: -95px;}
	.block-cart-header {border: 0;}
	#review-form #product-review-table th .nobr {white-space:normal !important; text-align: center; display: block;}
	.addthis_button_google_plusone {clear:left;}
    .mobile-toplinks-nav .links li {  padding: 6px 10px;}
    .mobile-toplinks-nav .links .first { padding-left: 0; }
    .header-c img { margin-left: -50%; padding: 5px; }
}

@media only screen and (max-width: 440px) {
	.slider-banner-container .banner1{ margin-bottom: 18px; line-height: 14px;}
	.brands a{ width: 49%; margin-right: 1%; margin-bottom: 10px;}
	.swipe-menu .child3 > li, .swipe-menu .child4 > li { padding: 0.2em; }
}

@media only screen and (max-width: 435px) {
	.footer-social-block { margin-top: 2em; }
} 

@media only screen and (max-width: 407px) {
	.couponletter-left { max-width: 80% }
	.footer-social-block { margin-top: 1em; }
} 

@media only screen and (max-width: 390px) {
    .mobile-toplinks-nav .links li {  padding: 6px;}
    .mobile-toplinks-nav .links .first { padding-left: 0; }
    .banner-nav{ height: 110px;}

    .swipe-menu .child3 > li, .swipe-menu .child4 > li { width: 33.333333333%; padding: .8em; }
}

@media only screen and (max-width: 362px) {
	.product-view .product-img-box {text-align:left; width: 288px;} 
	.product-view .product-img-box .product-box-customs .product-image { overflow:hidden; width:284px;}
	.container-slider {width: 290px;}
	.tumbSlider li,
	.container-slider li {width: 90px;}
	.top-icon-menu {min-width: 320px;}
	.search-form .form-list .input-box,
	.search-form .form-list .input-box input {width: 99% !important;}

	.slider-banner-container .banner1{ margin-bottom: 10px; margin-left: -20px;}
	.slider-banner-container .banner2{ margin-left: -20px;}
	.slider-banner-container .banner1 a{ padding: 1px;}
	.slider-banner-container .banner1 a .inner{ padding: 2px;}
	.slider-banner-container .banner1 a h6{ font-size: 12px; font-weight: 300; line-height: 13px; }
    .mobile-toplinks-nav .links li {  padding: 6px 3px;}
    .mobile-toplinks-nav .links .first { padding-left: 0; }
}
@media only screen and (max-width: 330px) {
	.slider-banner-container .banner1{ margin-bottom: 6px;}
}

@media only screen and (max-width: 320px) and (max-height: 460px)  { 
	.block-cart-header .cart-content {max-height:450px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding-bottom: 60px; }

}
@media only screen and (max-width: 320px) and (max-height: 410px)  { 
	.block-cart-header .cart-content {max-height:370px;  padding-bottom: 70px; }
}
@media only screen and (max-width: 680px) and (max-height: 460px)  { 
	.block-cart-header .cart-content {height:320px; overflow-y:auto; -webkit-overflow-scrolling: touch; padding-bottom: 100px; }
	.block-cart-header .empty .cart-content {height: auto;}
}



/* ///////////////      super fish       //////////////////////////*/

.nav-container {  position: relative;  z-index: 10; border-bottom: none !important;}
.sidebar  .nav-container {margin-bottom: 34px; padding-bottom: 15px; display: block; position: relative !important;}
.block.nav-container .block-title {margin-bottom: 0;}

  /* menu icon */
 .sf-menu-block {display: block; position: relative;}
 .menu-icon-style {
    font-size: 18px;
    color: #404040;
    font-weight: 300;
    line-height: 26px;
    padding: 0 0 27px;
 }
  #menu-icon {
    display: block;
    cursor: pointer;
    padding: 0 0px;
  }
  #menu-icon:before {content: "\f055"; font-size: 25px; float: right; }
  #menu-icon.active:before { content: "\f056"; }

  .sf-menu-phone {
    background: #fff;
    border-top: 1px solid #ededed;
    position: absolute;
    z-index: 2;
    width: 100%;
    moz-box-sizing:border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }
  .sf-menu-phone li {  position: relative; text-transform: capitalize; }
  .sf-menu-phone > li { border-bottom: 1px solid #ededed; background: #fff; line-height: 20px;  }
  .sf-menu-phone > li.last { border-bottom: 1px solid #ededed;}
  .sf-menu-phone li a { display: block;  color: #7a7a7a; font-size: 11px; font-weight: 300; text-transform: uppercase;  }
  .sf-menu-phone > li > a {padding: 11px 0; font-size: 11px; display: block; color: #7a7a7a; font-weight: 300; text-transform: uppercase;}
  .sf-menu-phone li a:hover { color: #356799; }
  .sf-menu-phone li li { padding: 4px 0; line-height: 16px; }
  .sf-menu-phone li li.last {}
  .sf-menu-phone li li:first-child {}
  .sf-menu-phone li li:first-child strong {top:10px;}
  .sf-menu-phone li strong {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    width: 24px;
    font-size: 13px; 
    line-height: 16px;
    text-align: center;
  }
  .sf-menu-phone > li > strong {top: 9px; right: 18px; font-size: 13px; line-height: 20px;}
  .sf-menu-phone li strong:hover { cursor: pointer; }
  .sf-menu-phone li strong:before {content: "\f067"; }
  .sf-menu-phone li strong.opened:before { content: "\f068"; }

  /* dropdown */
  .sf-menu-phone ul {  
    width: auto;  
    padding: 25px;    
    display: none; 
    moz-box-sizing:content-box;
    -moz-box-sizing:content-box; 
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
 }
  .sf-menu-phone > li.active > a > span {color: inherit;}
  
  .sf-menu-phone  li.active > a,
  .sf-menu-phone  li  a:hover { color: #356799; }

